.footer{
    display: flex;
    justify-content: space-between;
    margin-top:45px;
}

.icons{
    padding-top:13px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 54px;
}

.icons a img{
    width: 42px;
    height: 42px;
}
