html, body {
    height: 100%;
}

body {
    width: 1920px;
    font-family: 'Pretendard-Regular';
    color: black;
    overflow-x: hidden;
}

.header, .advertisement, .main, .line, .map, .subscribe, .footer{
    padding-left: 320px;
    padding-right: 320px;
}
.content{
    flex-direction: column;
}
