.advertisement{
    display: flex;
    justify-content: space-between;
}

.article_victory{
    margin-top:80px;
    box-shadow: 10px 10px 30px 0px #00000040;
    border-radius: 30px;
    transition-duration: .5s;

}
.article_victory:hover {
    transform: scale(1.5);
    transition-duration: .5s;
    opacity: 0.7;
}

.advertise_h3{
    width: 510px;
    height: 135px;
    font-family: 'HakgyoansimGaeulsopungB';
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0;
    text-align: left;
    padding-top:130px;
    color: #E1002A;
}


.ad_text {
    width: 510px;
    height: 40px;
    padding-top: 15px;
    color: black;
}