.bottom_background{
    height:441px;
}
.background_basket{
    height: 340px;
    padding-top: 101px
}

.background_vslg{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -50;
    opacity: 50%;
}

.scroll_button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 24px;
    transform: translate(0,-69px);
}

.button_scroll{
    padding-bottom: 45px;
}