.map_h2{
    font-family: 'Pretendard-Regular';
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0;
    text-align: left;
    padding-top: 68px;
    padding-bottom: 20px;
    margin:0;
}

.map_text{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 48px;
    margin: 0;

}