
.subscribe{
    padding-top:80px;

}
.click_subscribe{
    display: flex;
    flex-direction: row;
    height: 200px;
    border-radius: 30px;
    background-color: #F28F00;
    color : #FFFFFF;
    position: absolute;
}

.click_left{
    width: 471px;
    height: 99px;
    margin : 50px 163px 51px 58px;
}

.subscribe_h3{
    font-family: 'Pretendard-Regular';
    font-size: 36px;
    font-weight: 1000;
    line-height: 45px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    color: #000000;
}

.subscribe_text{
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0;
}

.click_right{
    width: 530px;
    height: 60px;
    border-radius: 60px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    color: #767676;
    align-items: center;
    margin: 69px 58px 71px 0;
}

.mail{
    display: flex;
    flex-direction: row;
}

.mail_img {
    padding : 18px 16px 18px 28px;
}

.mail input {
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    outline: none;
    border: 0;
    width: 184px;
    height: 20px;
    margin-top: 20px;
}

.button_subscribe{
    width: 130px;
    height: 50px;
    border-radius: 40px;
    background-color: #E1002A;
    color: #FFFFFF;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    border: 0;
    margin : 5px 6px 5px 137px;
}
